@import url('./imports/header.css');
@import url('./imports/banner.css');
@import url('./imports/bilheteria.css');
@import url('./imports/criticas.css');
@import url('./imports/trailers.css');
@import url('./imports/footer.css');
@import url('./imports/responsive.css');

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul: #002F52;
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;
    --vermelho: red;
    --fonte-principal: "Poppins";
    --fonte-secundaria: "Josefin Sans";
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

b {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: var(--azul);
    /* font-weight: 500; */
}

h1 {
    font-size: 1.6rem;
    line-height: 2.1rem;
    margin-bottom: 2rem;
}

.container {
    display: flex;
    align-items: center;
}

