.bilheteria {
    text-align: center;
    padding: 2.4rem 2rem;
}

.bilheteria .lista-filmes {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.bilheteria .filme {
    width: 55%;
    border: 1px solid var(--azul);
}

.bilheteria .filme img {
    width: 100%;
}

.bilheteria .filme p {
    font-size: 1rem;
    font-style: italic;
    font-family: var(--fonte-secundaria);
    padding: .6rem 0;
}