.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--branco);
    padding-right: 1rem;
    height: 4.5rem;
}

.header .container {
    gap: .6rem;
}

.header .icons {
    gap: 1.2rem;
}

.menu-hamburger {
    width: 30px;
    height: 24px;
    background-image: url("../../img/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    display: inline-block;
}

.menu-dropdown, .menu-lateral, .header .titulo, .header .texto {
    display: none;
}

.menu-dropdown.active {
    display: block;
}

.container-rotulo {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

.menu-dropdown {
    position: absolute;
    top: 71px;
    left: 0;
    width: 60vw;
    background-color: var(--branco);
    padding: .5rem 0;
    z-index: 99;
}

.lista-menu li {
    padding: .8rem 1.5rem;
}

.lista-menu li a {
    padding: .8rem 1.6rem;
    text-transform: uppercase;
}

.lista-menu .titulo-lista {
    color: var(--vermelho);
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: .4rem;
}

.titulo-header {
    display: flex;
    align-items: center;
}

.header .titulo {
    font-size: 1.3rem;
}  

.menu-lateral {
    width: 400px;
}

.menu-lateral .opcoes {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: .3rem;
}

.menu-lateral .opcoes .opcoes-item {
    padding: 1.6rem 2rem;
}

.menu-lateral .menu-categorias {
    width: 35vw;
    display: none;
    background-color: var(--branco);
    position: absolute;
    top: 71px;
    z-index: 99;
}

.menu-lateral .menu-categorias.active {
    display: block;
}

.menu-lateral .menu-categorias li {
    padding: 1.7rem 1rem;
}

.li-categorias {
    color: var(--azul);
    cursor: pointer;
}

.li-categorias.active {
    background-color: var(--vermelho);
    color: var(--branco);
    font-weight: bold;
}