.trailers {
    padding: 2.4rem 2rem;
}

.trailers h1 {
    text-align: center;
}

.trailers .container {
    flex-direction: column;
    gap: 2rem;
}

.trailers iframe {
    width: 90%;
    height: 200px;
}